@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
.search__container {
    background-color: #eaeded;
    height: 100vh;
    width: 100vw;

}

.search {
    background-color: #fff;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    padding: 15px;
}

.search input {
    width: 75%;
    border: none;
    outline: none;
}

.searchType {
    font-family: 'Matemasie', sans-serif;
}